<div class="wrapper inner-wrapper customer-login">
   <h2 id="recover" tabindex="-1">Forgot Password</h2>
    <div>
        {% form 'recover_customer_password', id: 'recover_customer_password' %}
        {% assign recover_success = form.posted_successfully? %}

            <div class="customer-login__field">
                <label class="field__label visually-hidden" for="customer_email">Email Address</label>
                <input class="field-input" type="email" name="email" placeholder="email">
            </div>

            <button class="customer-login__button" type="submit">Submit</button>

            {%- if form.errors -%}
                {{ form.errors | default_errors }}
            {%- endif -%}

            <a href="#login">Cancel</a>
        {% endform %}
    </div>

    <h2 id="login" tabindex="-1">Login</h2>
    <div>
        {%- if recover_success == true -%}
            <p>We've sent you an email with a link to update your password.</p>
        {%- endif -%}
        {% form 'customer_login' %}

            {%- if form.errors -%}
                {{ form.errors | default_errors }}
            {%- endif -%}

            <div class="customer-login__fields">
                <div class="customer-login__field">
                    <label class="field__label visually-hidden" for="customer_email">Email Address</label>
                    <input class="field-input" type="email" name="customer[email]" placeholder="email">
                </div>

                <div class="customer-login__field">
                    <label class="field__label visually-hidden" for="customer_password">Password</label>
                    <input class="field-input" type="password" name="customer[password]" placeholder="password">
                </div>

                <a href="#recover">Forgot your password?</a>
            </div>

            <button class="customer-login__button" type="submit">Sign In</button>

            <a href="{{ routes.account_register_url }}">Create account</a>
        {% endform %}
    </div>
</div>